services/ingest/src/Strategy/Clover/Schema/Php.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="coverage" type="coverageType"/>
    <xs:complexType name="metricsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="complexity" use="optional"/>
                <xs:attribute type="xs:byte" name="methods" use="optional"/>
                <xs:attribute type="xs:byte" name="coveredmethods" use="optional"/>
                <xs:attribute type="xs:byte" name="conditionals" use="optional"/>
                <xs:attribute type="xs:byte" name="coveredconditionals" use="optional"/>
                <xs:attribute type="xs:short" name="statements" use="optional"/>
                <xs:attribute type="xs:short" name="coveredstatements" use="optional"/>
                <xs:attribute type="xs:short" name="elements" use="optional"/>
                <xs:attribute type="xs:short" name="coveredelements" use="optional"/>
                <xs:attribute type="xs:short" name="loc" use="optional"/>
                <xs:attribute type="xs:short" name="ncloc" use="optional"/>
                <xs:attribute type="xs:byte" name="classes" use="optional"/>
                <xs:attribute type="xs:byte" name="files" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="classType">
        <xs:sequence>
            <xs:element type="metricsType" name="metrics"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="namespace" use="optional"/>
    </xs:complexType>
    <xs:complexType name="lineType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="num" use="optional"/>
                <xs:attribute type="xs:string" name="type" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="visibility" use="optional"/>
                <xs:attribute type="xs:byte" name="complexity" use="optional"/>
                <xs:attribute type="xs:byte" name="crap" use="optional"/>
                <xs:attribute type="xs:byte" name="count" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="fileType">
        <xs:sequence>
            <xs:element type="classType" name="class" minOccurs="0"/>
            <xs:element type="lineType" name="line" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="metricsType" name="metrics"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="projectType">
        <xs:sequence>
            <xs:element type="fileType" name="file" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="metricsType" name="metrics"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="timestamp"/>
    </xs:complexType>
    <xs:complexType name="coverageType">
        <xs:sequence>
            <xs:element type="projectType" name="project"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="generated"/>
    </xs:complexType>
</xs:schema>